.Hero Cards{
    width: 600px;
    height:500px;
    padding: 15px;
    border: 5px solid black;
    background-color: antiquewhite;
    margin:15px;

}
.ram{
    width: 600px;
    height:400px;
    padding: 15px;
    border: 5px solid black;
    background-color: antiquewhite;
    margin:15px;
  
}
 .ntr{
    width: 600px;
    height:500px;
    padding:15px;
    border: 5px solid black;
    background-color: antiquewhite;
     margin:15px;
}   
.nani{
    width: 600px;
    height:400px;
    padding:15px;
    border: 5px solid black;
    background-color: antiquewhite;
    margin:15px;
}
.prabhas{
    width: 600px;
    height:400px;
    padding:15px;
    border: 5px solid black;
    background-color: antiquewhite;
    margin:15px;
    }
.vijay{
    width: 600px;
    height:400px;
    padding:15px;
    border: 5px solid black;
    background-color: antiquewhite;
    margin:15px;
    }

